@media only screen and (max-width:576px) {

    /* mobile navbar  */
    .navbar-container {
        display: none;
    }

    .mobile-navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-menu-logo h4 {
        color: #3A3A3A;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /* hero section  */
    .hero-container {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .hero-img {
        background-size: contain;
        margin: 20px;
    }

    .hero-text h1 {
        font-size: 28px;
        line-height: normal;
        text-align: center;
    }

    .hero-text p {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        margin: 15px 0;
    }

    .hero-button {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    /* sponsor section  */
    .sponsor-section {
        margin-top: 50px;
    }

    .sponsor-container svg {
        display: none;
    }

    .sponsor-logo-container {
        gap: 30px;
        padding: 0;
        justify-content: center;
    }

    .sponsor-logo-container img {
        max-width: 60px;
    }

    /* collection section  */
    .collection-section {
        margin-top: 50px;
    }

    .collection-section h3 {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 20px;
    }

    .gallery-container {
        gap: 15px;
    }

    .collection-section .button {
        margin-top: 30px;
    }

    /* feature section  */
    .feature-section {
        margin-top: 30px;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .feature-text-container h3 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
    }

    .feature-text-container p {
        text-align: center;
    }

    .feature-text-container .button {
        justify-content: center;
    }

    .feature-img-container img {
        width: 299px;
    }

    /* footer section  */
    .footer-container {
        margin-top: 50px;
    }

    .footer-container h4 {
        font-size: 16px;
    }

    .footer-container p {
        font-size: 12px;
    }

    .social-link {
        margin-top: 10px;
    }

    .social-link svg {
        width: 24px;
        height: 24px;
    }
}