@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    max-width: 1440px;
    min-height: 3306px;
    margin: 0 auto;
    border: 1px solid tomato;
    padding: 4%;
}

/* ********* navbar section ********** */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo h4 {
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
    gap: 34px;
}

.navbar-menu ul li {
    list-style-type: none;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* mobile menu  */

.mobile-navbar-container {
    display: none;
}

/* hero section  */
.hero-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    max-width: 582px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
}

.hero-text p {
    max-width: 505px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 16px 0;
}

.hero-button {
    margin-top: 32px;
}

.hero-button button {

    border-radius: 41px;
    background: #E02C6D;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 24px;

    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;

}

.hero-button button:hover {
    background-color: #bd0a4c;
    transition: all 0.3s;
    border: 1px solid black;
    gap: 12px;
}

.hero-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 30px;
}

.hero-img img {
    width: 100%;
}

/************** main section ************* */
main {
    max-width: 1110px;
    margin: 0 auto;
}

/* hero section  */
.sponsor-section {
    margin-top: 70px;
}

.sponsor-container svg {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

.sponsor-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

/* collection section  */
.collection-section {
    margin-top: 100px;
}

.collection-section h3 {
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    /* 250% */
    text-align: center;
    margin-bottom: 30px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery-card-container {
    max-width: 300px;
    padding: 14px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
}

.gallery-card-container:hover {
    border: 1px solid #E02C6D;
    cursor: pointer;
}

.gallery-card-container h4 {
    color: var(--Text-Gray-900, #18191F);
    font-feature-settings: 'liga' off;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 142.857% */
    margin-bottom: 6px;
}

.gallery-card-container h5 {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    margin-bottom: 5px;
}

.gallery-card-container .rating .checked {
    color: orange;
}

.gallery-card-container .rating :last-child {
    margin-left: 8px;
    color: var(--gray-80, #5E6366);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 0.1px;
}

.gallery-card-container p {
    max-width: 196px;
    color: var(--Gray-50, #787885);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    /* 20.02px */
    letter-spacing: 0.252px;
}

.collection-section .button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
}

.collection-section .button button {
    color: rgba(224, 44, 109, 0.87);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;

    padding: 8px 12px;
}

.collection-section .button button:hover {
    border: 1px solid rgba(224, 44, 109, 0.87);
}

/* feature section  */
.feature-section {
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;

}

.feature-text-container h3 {
    color: #0A0826;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 157.895% */
}

.feature-text-container p {
    color: #6C6C6C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 175% */
    margin: 16px 0;
    max-width: 501px;
}

.feature-text-container .button {
    display: flex;
    justify-content: start;
    align-items: center;
}

.feature-text-container .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 10px 24px;
    background: #E02C6D;
    border: 1px solid transparent;
}

.feature-text-container button:hover {
    border: 1px solid black;
    gap: 12px;
    transition: all 0.3s;
}