@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid tomato;
    min-height: 1200px;
    padding: 4%;
}

/* ********* navbar section ********** */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo h4 {
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
    gap: 34px;
}

.navbar-menu ul li {
    list-style-type: none;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* mobile menu  */

.mobile-navbar-container {
    display: none;
}

/* hero section  */
.hero-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    max-width: 582px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
}

.hero-text p {
    max-width: 505px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 16px 0;
}

.hero-button {
    margin-top: 32px;
}

.hero-button button {

    border-radius: 41px;
    background: #E02C6D;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 24px;

    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;

}

.hero-button button:hover {
    background-color: #bd0a4c;
    transition: all 0.3s;
    border: 1px solid black;
    gap: 12px;
}

.hero-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 30px;
}

.hero-img img {
    width: 100%;
}

/************** main section ************* */
main {
    max-width: 1110px;
    margin: 0 auto;
}

/* hero section  */
.sponsor-section {
    margin-top: 70px;
}

.sponsor-container svg {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

.sponsor-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}
